<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyNhaHang"
        tools:targetApi="31">
        <activity
            android:name=".features.UpdateMenuItemForTableActivity"
            android:exported="false" android:parentActivityName=".features.EditTableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.EditTableActivity" />
        </activity>
        <activity
            android:name=".features.EditTableActivity"
            android:exported="false"
            android:parentActivityName=".QuanLyBanAnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuanLyBanAnActivity" />
        </activity>
        <activity
            android:name=".features.AddTableActivity"
            android:exported="false"
            android:parentActivityName=".QuanLyBanAnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuanLyBanAnActivity" />
        </activity>
        <activity
            android:name=".QuanLyBanAnActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".features.EditDailyMenuActivity"
            android:exported="false"
            android:parentActivityName=".QLMenuTheoNgayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QLMenuTheoNgayActivity" />
        </activity>
        <activity
            android:name=".features.AddDailyMenuActivity"
            android:exported="false"
            android:parentActivityName=".QLMenuTheoNgayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QLMenuTheoNgayActivity" />
        </activity>
        <activity
            android:name=".QLMenuTheoNgayActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".features.EditMenuItemActivity"
            android:exported="false"
            android:parentActivityName=".QuanLyMonAnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuanLyMonAnActivity" />
        </activity>
        <activity
            android:name=".features.AddMenuItemActivity"
            android:exported="false"
            android:parentActivityName=".QuanLyMonAnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuanLyMonAnActivity" />
        </activity>
        <activity
            android:name=".QuanLyMonAnActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".features.EditEmployeeActivity"
            android:exported="false"
            android:parentActivityName=".QuanLyNhanVienActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuanLyNhanVienActivity" />
        </activity>
        <activity
            android:name=".features.AddEmployeeActivity"
            android:exported="false"
            android:parentActivityName=".QuanLyNhanVienActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuanLyNhanVienActivity" />
        </activity>
        <activity
            android:name=".QuanLyNhanVienActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>